.navigation
{
background-color: #363636;
}
.name
{
color: #CC527A;
}
body
{
background-color: #afeeee;

}
.list-inline{display:block;}
.list-inline li{display:inline-block;}
.list-inline li:after{content:'    '; margin:10px 20px;}

.subheading{margin:10px 0;}
